In [1]:
# On the instance where you are running jupyter,
# authenticate with gcloud first:
#
#     gcloud auth application-default login

import bigframes

pd = bigframes.connect()

In [2]:
pd

In [3]:
df = pd.read_gbq("bigquery-public-data.chicago_taxi_trips.taxi_trips")

In [4]:
type(df)

bigframes.dataframe.DataFrame

In [5]:
df.head(n=1)

,unique_key,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_census_tract,dropoff_census_tract,pickup_community_area,dropoff_community_area,...,extras,trip_total,payment_type,company,pickup_latitude,pickup_longitude,pickup_location,dropoff_latitude,dropoff_longitude,dropoff_location
0,c2de2d07e3278640666bc6b57d3ba9d8db40033c,e4d2b51afd55e194c2dad3e89367bf6c6efb502bc7f2aa...,2017-06-04 20:00:00+00:00,2017-06-04 20:15:00+00:00,840,0.0,17031841000,17031839100,33,32,...,0.0,14.05,Credit Card,Taxi Affiliation Services,41.849247,-87.624135,POINT (-87.6241352979 41.84924675450001),41.880994,-87.632746,POINT (-87.6327464887 41.8809944707)

In [6]:
df = df[[
    "company",
    "trip_miles",
    "fare",
    "tips",
]]

In [7]:
df

                              company  trip_miles   fare  tips
0           Taxi Affiliation Services         0.0  11.25   2.8
1                          Yellow Cab         3.4   9.65   2.0
2             Choice Taxi Association         0.0   31.0   7.2
3                                <NA>        11.3   6.45   0.0
4                        City Service         1.3    7.0   1.5
5           Taxi Affiliation Services         0.0  21.25   0.0
6           Taxi Affiliation Services         0.0   7.85   0.0
7           Taxi Affiliation Services         0.8   5.05   0.0
8           Taxi Affiliation Services         3.9  14.25   0.0
9        Chicago Medallion Management         3.8   14.0   2.0
10            Choice Taxi Association        22.9   57.5   5.0
11          Taxi Affiliation Services         0.9   6.75   2.0
12          Star North Management LLC         1.3   8.25  0.15
13                       City Service         1.0   6.25   0.0
14          Taxi Affiliation Services         0.0   3.75   0.0
15            Choice Taxi Association         2.2   6.75   2.0
16          Dispatch Taxi Affiliation         1.1    6.5   0.0
17                               <NA>         6.6  18.25   0.0
18                               <NA>        1.06  23.45  5.09
19                         Yellow Cab         1.1    7.0   0.0
20                         Yellow Cab         1.6   8.25   3.0
21          Taxi Affiliation Services         0.3   4.75   0.0
22  Blue Ribbon Taxi Association Inc.         0.0   9.25   0.0
23           Northwest Management LLC         0.6   5.25   0.0
24            Choice Taxi Association         0.7   6.25   2.0
...

[207176656 rows x 4 columns]

In [8]:
df['fare'].head(n=10)

0    11.25
1     9.65
2     31.0
3     6.45
4      7.0
5    21.25
6     7.85
7     5.05
8    14.25
9     14.0
Name: fare, dtype: Float64

In [9]:
df['fare'].mean()

13.614226043904155

In [13]:
subtotal = df['fare'] + df['tips']
subtotal.head()

0    14.05
1    11.65
2     38.2
3     6.45
4      8.5
dtype: Float64

In [12]:
subtotal[df['company'] == 'Norshore Cab'].sum()

2844629.760000093