In [1]:
import bigframes

# On the instance where you are running jupyter,
# authenticate with gcloud first:
#
#     gcloud auth application-default login

# TODO(swast): How should folks connect when using colab
# when the runtime isn't running locally with access to
# credentials from the command line?
engine = bigframes.connect()

In [2]:
df = engine.read_gbq("bigquery-public-data.chicago_taxi_trips.taxi_trips")[[
    "trip_end_timestamp",
    "pickup_location",
    "trip_miles",
    "trip_total",
]]

In [3]:
df.head(20)

,trip_end_timestamp,pickup_location,trip_miles,trip_total
0,2017-07-24 18:45:00,POINT (-87.6378442095 41.8932163595),1.6,12.25
1,2017-07-24 21:30:00,POINT (-87.6559981815 41.9442266014),3.5,14.70
2,2016-09-20 20:00:00,None,0.9,6.00
3,2017-07-27 16:15:00,POINT (-87.6378442095 41.8932163595),15.0,45.60
4,2017-07-26 19:30:00,POINT (-87.6327464887 41.8809944707),0.2,4.00
5,2017-07-24 11:15:00,POINT (-87.642648998 41.8792550844),0.5,4.75
6,2017-07-25 16:30:00,POINT (-87.6321092196 41.9002656868),0.0,4.00
7,2017-07-25 11:00:00,POINT (-87.6262149064 41.8925077809),17.8,54.00
8,2017-07-25 18:15:00,POINT (-87.6327464887 41.8809944707),0.0,10.50
9,2017-07-10 12:00:00,POINT (-87.6262149064 41.8925077809),1.1,9.75
10,2017-07-27 10:00:00,POINT (-87.6262105324 41.8991556134),0.0,58.80
11,2017-07-24 19:15:00,POINT (-87.642648998 41.8792550844),1.0,10.50
12,2017-07-24 11:30:00,POINT (-87.67016685690001 42.0096228806),0.0,3.25
13,2017-07-27 19:00:00,POINT (-87.6209929134 41.8849871918),1.4,7.75
14,2017-07-26 14:45:00,POINT (-87.6327464887 41.8809944707),2.4,10.50
15,2017-07-26 12:00:00,POINT (-87.6291051864 41.9002212967),1.5,9.75
16,2017-07-27 00:30:00,POINT (-87.6716536214 41.8786674201),3.3,15.00
17,2017-07-25 20:00:00,POINT (-87.6129454143 41.8919715078),0.7,7.25
18,2017-07-25 21:45:00,POINT (-87.6327464887 41.8809944707),0.7,5.50
19,2017-07-25 07:15:00,POINT (-87.6209929134 41.8849871918),0.0,8.50

In [4]:
df['trip_total']

In [5]:
df.head()['trip_total']

0    12.25
1    14.70
2     6.00
3    45.60
4     4.00
Name: trip_total, dtype: float64

In [7]:
df['trip_total'].head()

AttributeError: 'Series' object has no attribute 'head'