# BigFrames API Coverage Report

This notebook estimates BigFrame's coverage of Pandas APIs by:

1. Extracting the members from pandas, pandas.DataFrame, pandas.Index, pandas.Series
2. Checking if they are present in BigFrames
3. Searching them all on a dataset of 170k unique ipython notebooks queried from GitHub

TODO(bmil): add estimates based on Kaggle notebooks

In [43]:
import pandas as pd
import bigframes as bf
import inspect

token_map = {}
targets = [("pandas", pd, bf), ("dataframe", pd.DataFrame, bf.DataFrame), ("series", pd.Series, bf.Series), ("index", pd.Index, None)]
indexers = ['loc', 'iloc', 'iat', 'ix', 'at']
for name, pandas_obj, bigframes_obj in targets:
    for member in dir(pandas_obj):
        # skip private functions and properties
        if member[0] == "_" and member[1] != "_":
            continue

        if inspect.isfunction(getattr(pandas_obj, member)):
            # Function, match .member(
            token = f"\\.{member}\\("
            token_type = "function"
        elif member in indexers:
            # Indexer, match .indexer[
            token = f"\\.{member}\\["
            token_type = "indexer"
        else:
            # Property
            token = f"\\.{member}\\b"
            token_type = "property"

        is_in_bigframes = hasattr(bigframes_obj, member)

        # Special case: bigframes also implements some top level APIs on 'session'
        if name == "pandas":
            is_in_bigframes = is_in_bigframes or hasattr(bf.Session, member)

        if token not in token_map:
            token_map[token] = ([], token_type, is_in_bigframes)

        token_map[token][0].append(name)

header = ['pattern', 'token_type', 'is_pandas', 'is_dataframe', 'is_series', 'is_index', 'is_in_bigframes']
rows = [[
        k, v[1], 'pandas' in v[0], 'dataframe' in v[0], 'series' in v[0], 'index' in v[0], v[2]
                ] for k, v in token_map.items()]

# Wishlist: constructors for BigFrames...
pandas_df = pd.DataFrame(rows, columns=header)
pandas_df

<>:30: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:30: SyntaxWarning: "is" with a literal. Did you mean "=="?
/tmp/ipykernel_2648108/2542046402.py:30: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if name is "pandas":
/tmp/ipykernel_2648108/2542046402.py:14: FutureWarning: pandas.Float64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  if inspect.isfunction(getattr(pandas_obj, member)):
/tmp/ipykernel_2648108/2542046402.py:14: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  if inspect.isfunction(getattr(pandas_obj, member)):
/tmp/ipykernel_2648108/2542046402.py:14: FutureWarning: pandas.UInt64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  if inspect.isfunction(getattr(pandas_obj, member)):

,pattern,token_type,is_pandas,is_dataframe,is_series,is_index,is_in_bigframes
0,\.ArrowDtype\b,property,True,False,False,False,False
1,\.BooleanDtype\b,property,True,False,False,False,False
2,\.Categorical\b,property,True,False,False,False,False
3,\.CategoricalDtype\b,property,True,False,False,False,False
4,\.CategoricalIndex\b,property,True,False,False,False,False
...,...,...,...,...,...,...,...
495,\.symmetric_difference\(,function,False,False,False,True,False
496,\.to_flat_index\(,function,False,False,False,True,False
497,\.to_native_types\(,function,False,False,False,True,False
498,\.to_series\(,function,False,False,False,True,False
499,\.union\(,function,False,False,False,True,False

This query will count the occurrence of the API patterns in a dump of 170,000 deduped IPython notebooks taken from the public GitHub dataset.

In [44]:
session = bf.connect()
df = session.read_pandas(pandas_df)

# Soon, we could do all this in BigFrames...... ðŸ¤ž
# TODO: see how much we can rewrite
sql = f"""
WITH
  token_patterns AS ( {df.sql} ),
  github_notebooks AS (SELECT content FROM `bigframes-dev.coverage_report.github_notebooks`),
  hit_counts AS (
    SELECT
      token_patterns.pattern,
      COUNTIF(REGEXP_CONTAINS(github_notebooks.content, token_patterns.pattern)) AS matches,
      COUNT(*) AS scanned
    FROM
      token_patterns, github_notebooks
    WHERE CONTAINS_SUBSTR(github_notebooks.content, 'import pandas')
    GROUP BY token_patterns.pattern
    ORDER BY matches DESC
)
SELECT token_patterns.*, hit_counts.matches, hit_counts.scanned
FROM token_patterns, hit_counts
WHERE token_patterns.pattern = hit_counts.pattern
"""

df = session.read_gbq(sql)

df

                pattern token_type  is_pandas  is_dataframe  is_series  \
0        \.ArrowDtype\b   property       True         False      False
1      \.BooleanDtype\b   property       True         False      False
2       \.Categorical\b   property       True         False      False
3  \.CategoricalDtype\b   property       True         False      False
4  \.CategoricalIndex\b   property       True         False      False
5        \.DateOffset\b   property       True         False      False
6     \.DatetimeIndex\b   property       True         False      False
7   \.DatetimeTZDtype\b   property       True         False      False
8         \.ExcelFile\b   property       True         False      False
9       \.ExcelWriter\b   property       True         False      False

   is_index  is_in_bigframes  matches  scanned
0     False            False        0    40337
1     False            False        1    40337
2     False            False      233    40337
3     False            False       25    40337
4     False            False        3    40337
5     False            False       75    40337
6     False            False      491    40337
7     False            False        4    40337
8     False            False      123    40337
9     False            False      164    40337
...

[500 rows x 9 columns]

In [45]:
# TODO: rewrite everything in bigframes. Too much missing right now :(
df = df.to_pandas()

In [46]:
df["api"] = df["pattern"].str.replace('[\W(\\\\b)]', '')

# Weighted total API coverage
covered = df[df["is_in_bigframes"]]["matches"].sum()
total = df[df["is_in_bigframes"] == False]["matches"].sum()
weighted_percentage = 100 * covered / total
print(f"Weighted by use, BigFrames implements {round(weighted_percentage)}% of Pandas APIs")

Weighted by use, BigFrames implements 50% of Pandas APIs

/tmp/ipykernel_2648108/4060345344.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df["api"] = df["pattern"].str.replace('[\W(\\\\b)]', '')

In [47]:
df["pct"] = df["matches"] * 100 / df["scanned"]
df = df.sort_values("pct", ascending=False)

print("The top missing APIs, and the rate at which they appear are:")
df[df["is_in_bigframes"] == False].head(50)

The top missing APIs, and the rate at which they appear are:

,pattern,token_type,is_pandas,is_dataframe,is_series,is_index,is_in_bigframes,matches,scanned,api,pct
213,\.plot\b,property,False,True,True,False,False,16546,40337,plot,41.019411
322,\.append\(,function,False,True,True,True,False,15782,40337,append,39.125369
346,\.values\b,property,False,True,True,True,False,11397,40337,values,28.254456
202,\.mean\(,function,False,True,True,False,False,10768,40337,mean,26.695094
372,\.format\(,function,False,False,False,True,False,10152,40337,format,25.16796
351,\.array\b,property,False,False,True,True,False,8875,40337,array,22.002132
50,\.array\(,function,True,False,False,False,False,8716,40337,array,21.607953
197,\.loc\[,indexer,False,True,True,False,False,8217,40337,loc,20.370875
245,\.sum\(,function,False,True,True,False,False,8217,40337,sum,20.370875
332,\.groupby\(,function,False,True,True,True,False,6740,40337,groupy,16.709225
135,\.apply\(,function,False,True,True,False,False,6432,40337,apply,15.945658
324,\.astype\(,function,False,True,True,True,False,6073,40337,astype,15.055656
335,\.max\(,function,False,True,True,True,False,5746,40337,max,14.244986
182,\.iloc\[,indexer,False,True,True,False,False,5485,40337,iloc,13.597937
141,\.axes\b,property,False,True,True,False,False,5475,40337,axes,13.573146
65,\.io\b,property,True,False,False,False,False,4971,40337,io,12.323673
325,\.copy\(,function,False,True,True,True,False,4664,40337,copy,11.562585
292,\.T\b,property,False,True,True,True,False,4579,40337,T,11.351861
290,\.unique\(,function,True,False,True,True,False,4558,40337,unique,11.299799
225,\.replace\(,function,False,True,True,False,False,4498,40337,replace,11.151052
337,\.min\(,function,False,True,True,True,False,4491,40337,min,11.133699
191,\.keys\(,function,False,True,True,False,False,4481,40337,keys,11.108907
160,\.describe\(,function,False,True,True,False,False,4479,40337,descrie,11.103949
342,\.sort_values\(,function,False,True,True,True,False,4241,40337,sort_values,10.51392
178,\.hist\(,function,False,True,True,False,False,4030,40337,hist,9.990827
242,\.std\(,function,False,True,True,False,False,4009,40337,std,9.938766
176,\.get\(,function,False,True,True,False,False,3883,40337,get,9.626398
331,\.fillna\(,function,False,True,True,True,False,3537,40337,fillna,8.768624
291,\.value_counts\(,function,True,True,True,True,False,3464,40337,value_counts,8.587649
187,\.items\(,function,False,True,True,False,False,3266,40337,items,8.096785
366,\.tolist\(,function,False,False,True,True,False,3169,40337,tolist,7.856311
243,\.style\b,property,False,True,False,False,False,3078,40337,style,7.630711
69,\.merge\(,function,True,True,False,False,False,2987,40337,merge,7.405112
154,\.count\(,function,False,True,True,False,False,2973,40337,count,7.370404
358,\.map\(,function,False,False,True,True,False,2959,40337,map,7.335697
267,\.transform\(,function,False,True,True,False,False,2740,40337,transform,6.792771
403,\.sort\(,function,False,False,False,True,False,2708,40337,sort,6.713439
363,\.str\b,property,False,False,True,True,False,2539,40337,str,6.294469
106,\.to_datetime\(,function,True,False,False,False,False,2422,40337,to_datetime,6.004413
248,\.tail\(,function,False,True,True,False,False,2396,40337,tail,5.939956
49,\.api\b,property,True,False,False,False,False,2320,40337,api,5.751543
287,\.isnull\(,function,True,True,True,True,False,2263,40337,isnull,5.610234
184,\.info\(,function,False,True,True,False,False,2214,40337,info,5.488757
347,\.where\(,function,False,True,True,True,False,2042,40337,where,5.06235
189,\.iterrows\(,function,False,True,False,False,False,2009,40337,iterrows,4.980539
334,\.isin\(,function,False,True,True,True,False,1964,40337,isin,4.868979
231,\.sample\(,function,False,True,True,False,False,1941,40337,sample,4.811959
273,\.update\(,function,False,True,True,False,False,1845,40337,update,4.573964
101,\.set_option\b,property,True,False,False,False,False,1826,40337,set_option,4.526861
163,\.dot\(,function,False,True,True,False,False,1747,40337,dot,4.331011